<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pokemon Anime</title>
  <link rel="stylesheet" type="text/css" href="../CSS/HomePage_CSS/General_css.css">
  <link rel="stylesheet" type="text/css" href="../CSS/HomePage_CSS/Anime_css.css">
  <link rel="icon" type="image/png" href="../IMG/HomePage_Images/icon.png">
</head>

<body class="body">
  <header class="header">
    <picture>
      <source media="(min-width: 900px)" srcset="../IMG/HomePage_Images/header-lg.png">
      <source media="(min-width: 620px)" srcset="../IMG/HomePage_Images/header-md.png">
      <img src="../IMG/HomePage_Images/header-sm.png" alt="Pokemon banner">
    </picture>
  </header>
  <nav class="main-menu grid-container" role="navigation" aria-label="Main menu">
    <ul class="main-menu-list">
      <li class="main-menu-item"><a href="/" class="main-menu-heading" title="Home Page"><svg aria-hidden="true" width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M12 3 2 12h3v9h6v-6h2v6h6v-9h3z"/></svg><span>Home Page</span></a></li>
      <li class="main-menu-item"><a href="/Pokedex" class="main-menu-heading" title="Pokedex"><svg aria-hidden="true" width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2Zm0 2a8 8 0 0 1 7.94 7H4.06A8 8 0 0 1 12 4Zm0 16a8 8 0 0 1-7.94-7h15.88A8 8 0 0 1 12 20Zm0-5a3 3 0 1 0-3-3 3 3 0 0 0 3 3Z"/></svg><span>Pokedex</span></a></li>
      <li class="main-menu-item"><a href="/Anime" class="main-menu-heading" title="Anime Series"><svg aria-hidden="true" width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M4 5h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2Zm2 2v10h12V7Zm3 2 6 3-6 3Z"/></svg><span>Anime Series</span></a></li>
      <li class="main-menu-item"><a href="/Games" class="main-menu-heading" title="Games"><svg aria-hidden="true" width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M7 8h10a5 5 0 0 1 5 5v1a4 4 0 0 1-4 4h-2l-2-2h-4l-2 2H6a4 4 0 0 1-4-4v-1a5 5 0 0 1 5-5Zm2 3v2H7v2h2v2h2v-2h2v-2h-2v-2Zm7.5 1.5a1.5 1.5 0 1 0 1.5 1.5 1.5 1.5 0 0 0-1.5-1.5Zm-2.5 2.5a1 1 0 1 0 1 1 1 1 0 0 0-1-1Z"/></svg><span>Games</span></a></li>
      <% if (isLoggedIn) { %>
        <li class="main-menu-item"><a href="/Add" class="main-menu-heading" title="Add Content"><svg aria-hidden="true" width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"/></svg><span>Add Content</span></a></li>
      <% } else { %>
        <li class="main-menu-item"><span class="main-menu-heading disabled-link-wrapper" data-tooltip="You must log in to add content" aria-disabled="true"><svg aria-hidden="true" width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"/></svg><span>Add Content</span></span></li>
      <% } %>
      <% if (!isLoggedIn) { %>
        <li class="main-menu-item"><a href="/Add" class="main-menu-heading" title="Login"><svg aria-hidden="true" width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M10 17v-3h4v-4h-4V7l-5 5Zm2 5a10 10 0 1 1 7.07-2.93A10 10 0 0 1 12 22Zm0-2a8 8 0 1 0-5.66-2.34A8 8 0 0 0 12 20Z"/></svg><span>Login</span></a></li>
      <% } else { %>
        <li class="main-menu-item nav-profile-container"><button type="button" class="main-menu-heading profile-avatar" aria-label="Profile menu" aria-haspopup="true" aria-expanded="false"></button><ul class="main-menu-sub profile-dropdown"><li class="dropdown-greeting">Hello, <span class="dropdown-username"><%= username %></span>!</li><li><a href="/Profile" class="dropdown-profile-link">View Profile</a></li><li><form method="post" action="/logout"><button type="submit" class="dropdown-logout">Logout</button></form></li></ul></li>
      <% } %>
    </ul>
  </nav>
  <div class="main-size">
    <div class="home-title">
      <h1 class="home-title-text">Anime</h1>
    </div>
    <div class="content">
      <main class="main">
        <div id="animeGrid" class="anime-grid"></div>
      </main>
    </div>
  </div>
  <footer class="footer">
    <p>Pokemon project 2025 - Vitaly, Liad and Ido</p>
  </footer>
  <!-- jQuery Library -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <!-- Global jQuery Features -->
  <script src="../JQuery/jquery-features.js"></script>
  <!-- Navbar Profile Dropdown Script -->
  <script src="../JQuery/navbar-profile.js"></script>
  <!-- Vanilla JS Scripts -->
  <script src="../JavaScript/anime-pagination.js"></script>
</body>

</html>